<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.cy.user.dao.mapper.interfaces.GriwthValueMapper" >
  <resultMap id="BaseResultMap" type="com.ai.yc.user.dao.mapper.bo.GriwthValue" >
    <id column="record_id" property="recordId" jdbcType="VARCHAR" />
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="griwth_value" property="griwthValue" jdbcType="INTEGER" />
    <result column="griwth_resource" property="griwthResource" jdbcType="VARCHAR" />
    <result column="resource_detail" property="resourceDetail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    record_id, user_id, create_time, griwth_value, griwth_resource, resource_detail
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.yc.user.dao.mapper.bo.GriwthValueCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from griwth_value
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ai.yc.user.dao.mapper.bo.GriwthValueKey" >
    select 
    <include refid="Base_Column_List" />
    from griwth_value
    where record_id = #{recordId,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ai.yc.user.dao.mapper.bo.GriwthValueKey" >
    delete from griwth_value
    where record_id = #{recordId,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.yc.user.dao.mapper.bo.GriwthValueCriteria" >
    delete from griwth_value
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.yc.user.dao.mapper.bo.GriwthValue" >
    insert into griwth_value (record_id, user_id, create_time, 
      griwth_value, griwth_resource, resource_detail
      )
    values (#{recordId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{griwthValue,jdbcType=INTEGER}, #{griwthResource,jdbcType=VARCHAR}, #{resourceDetail,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.yc.user.dao.mapper.bo.GriwthValue" >
    insert into griwth_value
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        record_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="griwthValue != null" >
        griwth_value,
      </if>
      <if test="griwthResource != null" >
        griwth_resource,
      </if>
      <if test="resourceDetail != null" >
        resource_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="griwthValue != null" >
        #{griwthValue,jdbcType=INTEGER},
      </if>
      <if test="griwthResource != null" >
        #{griwthResource,jdbcType=VARCHAR},
      </if>
      <if test="resourceDetail != null" >
        #{resourceDetail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.yc.user.dao.mapper.bo.GriwthValueCriteria" resultType="java.lang.Integer" >
    select count(*) from griwth_value
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update griwth_value
    <set >
      <if test="record.recordId != null" >
        record_id = #{record.recordId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.griwthValue != null" >
        griwth_value = #{record.griwthValue,jdbcType=INTEGER},
      </if>
      <if test="record.griwthResource != null" >
        griwth_resource = #{record.griwthResource,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceDetail != null" >
        resource_detail = #{record.resourceDetail,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update griwth_value
    set record_id = #{record.recordId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      griwth_value = #{record.griwthValue,jdbcType=INTEGER},
      griwth_resource = #{record.griwthResource,jdbcType=VARCHAR},
      resource_detail = #{record.resourceDetail,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.yc.user.dao.mapper.bo.GriwthValue" >
    update griwth_value
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="griwthValue != null" >
        griwth_value = #{griwthValue,jdbcType=INTEGER},
      </if>
      <if test="griwthResource != null" >
        griwth_resource = #{griwthResource,jdbcType=VARCHAR},
      </if>
      <if test="resourceDetail != null" >
        resource_detail = #{resourceDetail,jdbcType=VARCHAR},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.yc.user.dao.mapper.bo.GriwthValue" >
    update griwth_value
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      griwth_value = #{griwthValue,jdbcType=INTEGER},
      griwth_resource = #{griwthResource,jdbcType=VARCHAR},
      resource_detail = #{resourceDetail,jdbcType=VARCHAR}
    where record_id = #{recordId,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>