<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.cy.user.dao.mapper.interfaces.TCertificateMapper" >
  <resultMap id="BaseResultMap" type="com.ai.yc.user.dao.mapper.bo.TCertificate" >
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="CERTIFICATE_TYPE" property="certificateType" jdbcType="VARCHAR" />
    <result column="CERTIFICATE_LEVEL" property="certificateLevel" jdbcType="INTEGER" />
    <result column="CERTIFICATE_NAME" property="certificateName" jdbcType="VARCHAR" />
    <result column="GRANTING_INSTITUTION" property="grantingInstitution" jdbcType="VARCHAR" />
    <result column="AWARDED_TIME" property="awardedTime" jdbcType="VARCHAR" />
    <result column="CERTIFICATES_DESCRIBE" property="certificatesDescribe" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CERTIFICATE_ID" property="certificateId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USER_ID, CERTIFICATE_TYPE, CERTIFICATE_LEVEL, CERTIFICATE_NAME, GRANTING_INSTITUTION, 
    AWARDED_TIME, CERTIFICATES_DESCRIBE, CREATE_TIME, CERTIFICATE_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.yc.user.dao.mapper.bo.TCertificateCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_certificate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ai.yc.user.dao.mapper.bo.TCertificateCriteria" >
    delete from t_certificate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.yc.user.dao.mapper.bo.TCertificate" >
    insert into t_certificate (USER_ID, CERTIFICATE_TYPE, CERTIFICATE_LEVEL, 
      CERTIFICATE_NAME, GRANTING_INSTITUTION, AWARDED_TIME, 
      CERTIFICATES_DESCRIBE, CREATE_TIME, CERTIFICATE_ID
      )
    values (#{userId,jdbcType=VARCHAR}, #{certificateType,jdbcType=VARCHAR}, #{certificateLevel,jdbcType=INTEGER}, 
      #{certificateName,jdbcType=VARCHAR}, #{grantingInstitution,jdbcType=VARCHAR}, #{awardedTime,jdbcType=VARCHAR}, 
      #{certificatesDescribe,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{certificateId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.yc.user.dao.mapper.bo.TCertificate" >
    insert into t_certificate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="certificateType != null" >
        CERTIFICATE_TYPE,
      </if>
      <if test="certificateLevel != null" >
        CERTIFICATE_LEVEL,
      </if>
      <if test="certificateName != null" >
        CERTIFICATE_NAME,
      </if>
      <if test="grantingInstitution != null" >
        GRANTING_INSTITUTION,
      </if>
      <if test="awardedTime != null" >
        AWARDED_TIME,
      </if>
      <if test="certificatesDescribe != null" >
        CERTIFICATES_DESCRIBE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="certificateId != null" >
        CERTIFICATE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="certificateType != null" >
        #{certificateType,jdbcType=VARCHAR},
      </if>
      <if test="certificateLevel != null" >
        #{certificateLevel,jdbcType=INTEGER},
      </if>
      <if test="certificateName != null" >
        #{certificateName,jdbcType=VARCHAR},
      </if>
      <if test="grantingInstitution != null" >
        #{grantingInstitution,jdbcType=VARCHAR},
      </if>
      <if test="awardedTime != null" >
        #{awardedTime,jdbcType=VARCHAR},
      </if>
      <if test="certificatesDescribe != null" >
        #{certificatesDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="certificateId != null" >
        #{certificateId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.yc.user.dao.mapper.bo.TCertificateCriteria" resultType="java.lang.Integer" >
    select count(*) from t_certificate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_certificate
    <set >
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateType != null" >
        CERTIFICATE_TYPE = #{record.certificateType,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateLevel != null" >
        CERTIFICATE_LEVEL = #{record.certificateLevel,jdbcType=INTEGER},
      </if>
      <if test="record.certificateName != null" >
        CERTIFICATE_NAME = #{record.certificateName,jdbcType=VARCHAR},
      </if>
      <if test="record.grantingInstitution != null" >
        GRANTING_INSTITUTION = #{record.grantingInstitution,jdbcType=VARCHAR},
      </if>
      <if test="record.awardedTime != null" >
        AWARDED_TIME = #{record.awardedTime,jdbcType=VARCHAR},
      </if>
      <if test="record.certificatesDescribe != null" >
        CERTIFICATES_DESCRIBE = #{record.certificatesDescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.certificateId != null" >
        CERTIFICATE_ID = #{record.certificateId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_certificate
    set USER_ID = #{record.userId,jdbcType=VARCHAR},
      CERTIFICATE_TYPE = #{record.certificateType,jdbcType=VARCHAR},
      CERTIFICATE_LEVEL = #{record.certificateLevel,jdbcType=INTEGER},
      CERTIFICATE_NAME = #{record.certificateName,jdbcType=VARCHAR},
      GRANTING_INSTITUTION = #{record.grantingInstitution,jdbcType=VARCHAR},
      AWARDED_TIME = #{record.awardedTime,jdbcType=VARCHAR},
      CERTIFICATES_DESCRIBE = #{record.certificatesDescribe,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CERTIFICATE_ID = #{record.certificateId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>