<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.cy.user.dao.mapper.interfaces.TEnterpriseMapper" >
  <resultMap id="BaseResultMap" type="com.ai.yc.user.dao.mapper.bo.TEnterprise" >
    <id column="CUST_ID" property="custId" jdbcType="VARCHAR" />
    <result column="ENTERPRISE_NAME" property="enterpriseName" jdbcType="VARCHAR" />
    <result column="BUSINESS_LICENSE_FILE_NAME" property="businessLicenseFileName" jdbcType="VARCHAR" />
    <result column="BUSINESS_LICENSE_FILE_PATH" property="businessLicenseFilePath" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="ENTERPRISE_EMAIL" property="enterpriseEmail" jdbcType="VARCHAR" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="LINKMAN" property="linkman" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="LOGO_FILE_NAME" property="logoFileName" jdbcType="VARCHAR" />
    <result column="LOGO_FILE_PATH" property="logoFilePath" jdbcType="VARCHAR" />
    <result column="PROPOSER_ID" property="proposerId" jdbcType="VARCHAR" />
    <result column="PROPOSER_NAME" property="proposerName" jdbcType="VARCHAR" />
    <result column="USING_STATE" property="usingState" jdbcType="INTEGER" />
    <result column="APPROVE_STATE" property="approveState" jdbcType="INTEGER" />
    <result column="IS_DELETE" property="isDelete" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="CN_CITY" property="cnCity" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="COUNTRY" property="country" jdbcType="VARCHAR" />
    <result column="TIME_ZONE" property="timeZone" jdbcType="VARCHAR" />
    <result column="auditor" property="auditor" jdbcType="VARCHAR" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="INTEGER" />
    <result column="IS_INITAL_DATA" property="isInitalData" jdbcType="INTEGER" />
    <result column="FILE_ID" property="fileId" jdbcType="CHAR" />
    <result column="CORPORATE_DISCOUNT" property="corporateDiscount" jdbcType="INTEGER" />
    <result column="SETTLEMENT_CYCLE" property="settlementCycle" jdbcType="VARCHAR" />
    <result column="STATEMENT_Date" property="statementDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ai.yc.user.dao.mapper.bo.TEnterprise" extends="BaseResultMap" >
    <result column="CONTENT" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CUST_ID, ENTERPRISE_NAME, BUSINESS_LICENSE_FILE_NAME, BUSINESS_LICENSE_FILE_PATH, 
    ADDRESS, ENTERPRISE_EMAIL, TELEPHONE, LINKMAN, MOBILE, LOGO_FILE_NAME, LOGO_FILE_PATH, 
    PROPOSER_ID, PROPOSER_NAME, USING_STATE, APPROVE_STATE, IS_DELETE, CREATE_TIME, MODIFY_TIME, 
    CITY, CN_CITY, PROVINCE, COUNTRY, TIME_ZONE, auditor, check_time, remark, STATE, 
    IS_INITAL_DATA, FILE_ID, CORPORATE_DISCOUNT, SETTLEMENT_CYCLE, STATEMENT_Date
  </sql>
  <sql id="Blob_Column_List" >
    CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.ai.yc.user.dao.mapper.bo.TEnterpriseCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_enterprise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.yc.user.dao.mapper.bo.TEnterpriseCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_enterprise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_enterprise
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_enterprise
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.yc.user.dao.mapper.bo.TEnterpriseCriteria" >
    delete from t_enterprise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.yc.user.dao.mapper.bo.TEnterprise" >
    insert into t_enterprise (CUST_ID, ENTERPRISE_NAME, BUSINESS_LICENSE_FILE_NAME, 
      BUSINESS_LICENSE_FILE_PATH, ADDRESS, ENTERPRISE_EMAIL, 
      TELEPHONE, LINKMAN, MOBILE, 
      LOGO_FILE_NAME, LOGO_FILE_PATH, PROPOSER_ID, 
      PROPOSER_NAME, USING_STATE, APPROVE_STATE, 
      IS_DELETE, CREATE_TIME, MODIFY_TIME, 
      CITY, CN_CITY, PROVINCE, 
      COUNTRY, TIME_ZONE, auditor, 
      check_time, remark, STATE, 
      IS_INITAL_DATA, FILE_ID, CORPORATE_DISCOUNT, 
      SETTLEMENT_CYCLE, STATEMENT_Date, CONTENT
      )
    values (#{custId,jdbcType=VARCHAR}, #{enterpriseName,jdbcType=VARCHAR}, #{businessLicenseFileName,jdbcType=VARCHAR}, 
      #{businessLicenseFilePath,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{enterpriseEmail,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{logoFileName,jdbcType=VARCHAR}, #{logoFilePath,jdbcType=VARCHAR}, #{proposerId,jdbcType=VARCHAR}, 
      #{proposerName,jdbcType=VARCHAR}, #{usingState,jdbcType=INTEGER}, #{approveState,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{city,jdbcType=VARCHAR}, #{cnCity,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{timeZone,jdbcType=VARCHAR}, #{auditor,jdbcType=VARCHAR}, 
      #{checkTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{isInitalData,jdbcType=INTEGER}, #{fileId,jdbcType=CHAR}, #{corporateDiscount,jdbcType=INTEGER}, 
      #{settlementCycle,jdbcType=VARCHAR}, #{statementDate,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.yc.user.dao.mapper.bo.TEnterprise" >
    insert into t_enterprise
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="enterpriseName != null" >
        ENTERPRISE_NAME,
      </if>
      <if test="businessLicenseFileName != null" >
        BUSINESS_LICENSE_FILE_NAME,
      </if>
      <if test="businessLicenseFilePath != null" >
        BUSINESS_LICENSE_FILE_PATH,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="enterpriseEmail != null" >
        ENTERPRISE_EMAIL,
      </if>
      <if test="telephone != null" >
        TELEPHONE,
      </if>
      <if test="linkman != null" >
        LINKMAN,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="logoFileName != null" >
        LOGO_FILE_NAME,
      </if>
      <if test="logoFilePath != null" >
        LOGO_FILE_PATH,
      </if>
      <if test="proposerId != null" >
        PROPOSER_ID,
      </if>
      <if test="proposerName != null" >
        PROPOSER_NAME,
      </if>
      <if test="usingState != null" >
        USING_STATE,
      </if>
      <if test="approveState != null" >
        APPROVE_STATE,
      </if>
      <if test="isDelete != null" >
        IS_DELETE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="cnCity != null" >
        CN_CITY,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
      <if test="country != null" >
        COUNTRY,
      </if>
      <if test="timeZone != null" >
        TIME_ZONE,
      </if>
      <if test="auditor != null" >
        auditor,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="isInitalData != null" >
        IS_INITAL_DATA,
      </if>
      <if test="fileId != null" >
        FILE_ID,
      </if>
      <if test="corporateDiscount != null" >
        CORPORATE_DISCOUNT,
      </if>
      <if test="settlementCycle != null" >
        SETTLEMENT_CYCLE,
      </if>
      <if test="statementDate != null" >
        STATEMENT_Date,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseName != null" >
        #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseFileName != null" >
        #{businessLicenseFileName,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseFilePath != null" >
        #{businessLicenseFilePath,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseEmail != null" >
        #{enterpriseEmail,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="logoFileName != null" >
        #{logoFileName,jdbcType=VARCHAR},
      </if>
      <if test="logoFilePath != null" >
        #{logoFilePath,jdbcType=VARCHAR},
      </if>
      <if test="proposerId != null" >
        #{proposerId,jdbcType=VARCHAR},
      </if>
      <if test="proposerName != null" >
        #{proposerName,jdbcType=VARCHAR},
      </if>
      <if test="usingState != null" >
        #{usingState,jdbcType=INTEGER},
      </if>
      <if test="approveState != null" >
        #{approveState,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="cnCity != null" >
        #{cnCity,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="timeZone != null" >
        #{timeZone,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="isInitalData != null" >
        #{isInitalData,jdbcType=INTEGER},
      </if>
      <if test="fileId != null" >
        #{fileId,jdbcType=CHAR},
      </if>
      <if test="corporateDiscount != null" >
        #{corporateDiscount,jdbcType=INTEGER},
      </if>
      <if test="settlementCycle != null" >
        #{settlementCycle,jdbcType=VARCHAR},
      </if>
      <if test="statementDate != null" >
        #{statementDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.yc.user.dao.mapper.bo.TEnterpriseCriteria" resultType="java.lang.Integer" >
    select count(*) from t_enterprise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_enterprise
    <set >
      <if test="record.custId != null" >
        CUST_ID = #{record.custId,jdbcType=VARCHAR},
      </if>
      <if test="record.enterpriseName != null" >
        ENTERPRISE_NAME = #{record.enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="record.businessLicenseFileName != null" >
        BUSINESS_LICENSE_FILE_NAME = #{record.businessLicenseFileName,jdbcType=VARCHAR},
      </if>
      <if test="record.businessLicenseFilePath != null" >
        BUSINESS_LICENSE_FILE_PATH = #{record.businessLicenseFilePath,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.enterpriseEmail != null" >
        ENTERPRISE_EMAIL = #{record.enterpriseEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null" >
        TELEPHONE = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.linkman != null" >
        LINKMAN = #{record.linkman,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        MOBILE = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.logoFileName != null" >
        LOGO_FILE_NAME = #{record.logoFileName,jdbcType=VARCHAR},
      </if>
      <if test="record.logoFilePath != null" >
        LOGO_FILE_PATH = #{record.logoFilePath,jdbcType=VARCHAR},
      </if>
      <if test="record.proposerId != null" >
        PROPOSER_ID = #{record.proposerId,jdbcType=VARCHAR},
      </if>
      <if test="record.proposerName != null" >
        PROPOSER_NAME = #{record.proposerName,jdbcType=VARCHAR},
      </if>
      <if test="record.usingState != null" >
        USING_STATE = #{record.usingState,jdbcType=INTEGER},
      </if>
      <if test="record.approveState != null" >
        APPROVE_STATE = #{record.approveState,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null" >
        IS_DELETE = #{record.isDelete,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.city != null" >
        CITY = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.cnCity != null" >
        CN_CITY = #{record.cnCity,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        PROVINCE = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null" >
        COUNTRY = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.timeZone != null" >
        TIME_ZONE = #{record.timeZone,jdbcType=VARCHAR},
      </if>
      <if test="record.auditor != null" >
        auditor = #{record.auditor,jdbcType=VARCHAR},
      </if>
      <if test="record.checkTime != null" >
        check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.isInitalData != null" >
        IS_INITAL_DATA = #{record.isInitalData,jdbcType=INTEGER},
      </if>
      <if test="record.fileId != null" >
        FILE_ID = #{record.fileId,jdbcType=CHAR},
      </if>
      <if test="record.corporateDiscount != null" >
        CORPORATE_DISCOUNT = #{record.corporateDiscount,jdbcType=INTEGER},
      </if>
      <if test="record.settlementCycle != null" >
        SETTLEMENT_CYCLE = #{record.settlementCycle,jdbcType=VARCHAR},
      </if>
      <if test="record.statementDate != null" >
        STATEMENT_Date = #{record.statementDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null" >
        CONTENT = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_enterprise
    set CUST_ID = #{record.custId,jdbcType=VARCHAR},
      ENTERPRISE_NAME = #{record.enterpriseName,jdbcType=VARCHAR},
      BUSINESS_LICENSE_FILE_NAME = #{record.businessLicenseFileName,jdbcType=VARCHAR},
      BUSINESS_LICENSE_FILE_PATH = #{record.businessLicenseFilePath,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      ENTERPRISE_EMAIL = #{record.enterpriseEmail,jdbcType=VARCHAR},
      TELEPHONE = #{record.telephone,jdbcType=VARCHAR},
      LINKMAN = #{record.linkman,jdbcType=VARCHAR},
      MOBILE = #{record.mobile,jdbcType=VARCHAR},
      LOGO_FILE_NAME = #{record.logoFileName,jdbcType=VARCHAR},
      LOGO_FILE_PATH = #{record.logoFilePath,jdbcType=VARCHAR},
      PROPOSER_ID = #{record.proposerId,jdbcType=VARCHAR},
      PROPOSER_NAME = #{record.proposerName,jdbcType=VARCHAR},
      USING_STATE = #{record.usingState,jdbcType=INTEGER},
      APPROVE_STATE = #{record.approveState,jdbcType=INTEGER},
      IS_DELETE = #{record.isDelete,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      CITY = #{record.city,jdbcType=VARCHAR},
      CN_CITY = #{record.cnCity,jdbcType=VARCHAR},
      PROVINCE = #{record.province,jdbcType=VARCHAR},
      COUNTRY = #{record.country,jdbcType=VARCHAR},
      TIME_ZONE = #{record.timeZone,jdbcType=VARCHAR},
      auditor = #{record.auditor,jdbcType=VARCHAR},
      check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=INTEGER},
      IS_INITAL_DATA = #{record.isInitalData,jdbcType=INTEGER},
      FILE_ID = #{record.fileId,jdbcType=CHAR},
      CORPORATE_DISCOUNT = #{record.corporateDiscount,jdbcType=INTEGER},
      SETTLEMENT_CYCLE = #{record.settlementCycle,jdbcType=VARCHAR},
      STATEMENT_Date = #{record.statementDate,jdbcType=TIMESTAMP},
      CONTENT = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_enterprise
    set CUST_ID = #{record.custId,jdbcType=VARCHAR},
      ENTERPRISE_NAME = #{record.enterpriseName,jdbcType=VARCHAR},
      BUSINESS_LICENSE_FILE_NAME = #{record.businessLicenseFileName,jdbcType=VARCHAR},
      BUSINESS_LICENSE_FILE_PATH = #{record.businessLicenseFilePath,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      ENTERPRISE_EMAIL = #{record.enterpriseEmail,jdbcType=VARCHAR},
      TELEPHONE = #{record.telephone,jdbcType=VARCHAR},
      LINKMAN = #{record.linkman,jdbcType=VARCHAR},
      MOBILE = #{record.mobile,jdbcType=VARCHAR},
      LOGO_FILE_NAME = #{record.logoFileName,jdbcType=VARCHAR},
      LOGO_FILE_PATH = #{record.logoFilePath,jdbcType=VARCHAR},
      PROPOSER_ID = #{record.proposerId,jdbcType=VARCHAR},
      PROPOSER_NAME = #{record.proposerName,jdbcType=VARCHAR},
      USING_STATE = #{record.usingState,jdbcType=INTEGER},
      APPROVE_STATE = #{record.approveState,jdbcType=INTEGER},
      IS_DELETE = #{record.isDelete,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      CITY = #{record.city,jdbcType=VARCHAR},
      CN_CITY = #{record.cnCity,jdbcType=VARCHAR},
      PROVINCE = #{record.province,jdbcType=VARCHAR},
      COUNTRY = #{record.country,jdbcType=VARCHAR},
      TIME_ZONE = #{record.timeZone,jdbcType=VARCHAR},
      auditor = #{record.auditor,jdbcType=VARCHAR},
      check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=INTEGER},
      IS_INITAL_DATA = #{record.isInitalData,jdbcType=INTEGER},
      FILE_ID = #{record.fileId,jdbcType=CHAR},
      CORPORATE_DISCOUNT = #{record.corporateDiscount,jdbcType=INTEGER},
      SETTLEMENT_CYCLE = #{record.settlementCycle,jdbcType=VARCHAR},
      STATEMENT_Date = #{record.statementDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.yc.user.dao.mapper.bo.TEnterprise" >
    update t_enterprise
    <set >
      <if test="enterpriseName != null" >
        ENTERPRISE_NAME = #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseFileName != null" >
        BUSINESS_LICENSE_FILE_NAME = #{businessLicenseFileName,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseFilePath != null" >
        BUSINESS_LICENSE_FILE_PATH = #{businessLicenseFilePath,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseEmail != null" >
        ENTERPRISE_EMAIL = #{enterpriseEmail,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        LINKMAN = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="logoFileName != null" >
        LOGO_FILE_NAME = #{logoFileName,jdbcType=VARCHAR},
      </if>
      <if test="logoFilePath != null" >
        LOGO_FILE_PATH = #{logoFilePath,jdbcType=VARCHAR},
      </if>
      <if test="proposerId != null" >
        PROPOSER_ID = #{proposerId,jdbcType=VARCHAR},
      </if>
      <if test="proposerName != null" >
        PROPOSER_NAME = #{proposerName,jdbcType=VARCHAR},
      </if>
      <if test="usingState != null" >
        USING_STATE = #{usingState,jdbcType=INTEGER},
      </if>
      <if test="approveState != null" >
        APPROVE_STATE = #{approveState,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        IS_DELETE = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="city != null" >
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="cnCity != null" >
        CN_CITY = #{cnCity,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        COUNTRY = #{country,jdbcType=VARCHAR},
      </if>
      <if test="timeZone != null" >
        TIME_ZONE = #{timeZone,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=INTEGER},
      </if>
      <if test="isInitalData != null" >
        IS_INITAL_DATA = #{isInitalData,jdbcType=INTEGER},
      </if>
      <if test="fileId != null" >
        FILE_ID = #{fileId,jdbcType=CHAR},
      </if>
      <if test="corporateDiscount != null" >
        CORPORATE_DISCOUNT = #{corporateDiscount,jdbcType=INTEGER},
      </if>
      <if test="settlementCycle != null" >
        SETTLEMENT_CYCLE = #{settlementCycle,jdbcType=VARCHAR},
      </if>
      <if test="statementDate != null" >
        STATEMENT_Date = #{statementDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ai.yc.user.dao.mapper.bo.TEnterprise" >
    update t_enterprise
    set ENTERPRISE_NAME = #{enterpriseName,jdbcType=VARCHAR},
      BUSINESS_LICENSE_FILE_NAME = #{businessLicenseFileName,jdbcType=VARCHAR},
      BUSINESS_LICENSE_FILE_PATH = #{businessLicenseFilePath,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      ENTERPRISE_EMAIL = #{enterpriseEmail,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      LINKMAN = #{linkman,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      LOGO_FILE_NAME = #{logoFileName,jdbcType=VARCHAR},
      LOGO_FILE_PATH = #{logoFilePath,jdbcType=VARCHAR},
      PROPOSER_ID = #{proposerId,jdbcType=VARCHAR},
      PROPOSER_NAME = #{proposerName,jdbcType=VARCHAR},
      USING_STATE = #{usingState,jdbcType=INTEGER},
      APPROVE_STATE = #{approveState,jdbcType=INTEGER},
      IS_DELETE = #{isDelete,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      CITY = #{city,jdbcType=VARCHAR},
      CN_CITY = #{cnCity,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      COUNTRY = #{country,jdbcType=VARCHAR},
      TIME_ZONE = #{timeZone,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=INTEGER},
      IS_INITAL_DATA = #{isInitalData,jdbcType=INTEGER},
      FILE_ID = #{fileId,jdbcType=CHAR},
      CORPORATE_DISCOUNT = #{corporateDiscount,jdbcType=INTEGER},
      SETTLEMENT_CYCLE = #{settlementCycle,jdbcType=VARCHAR},
      STATEMENT_Date = #{statementDate,jdbcType=TIMESTAMP},
      CONTENT = #{content,jdbcType=LONGVARCHAR}
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.yc.user.dao.mapper.bo.TEnterprise" >
    update t_enterprise
    set ENTERPRISE_NAME = #{enterpriseName,jdbcType=VARCHAR},
      BUSINESS_LICENSE_FILE_NAME = #{businessLicenseFileName,jdbcType=VARCHAR},
      BUSINESS_LICENSE_FILE_PATH = #{businessLicenseFilePath,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      ENTERPRISE_EMAIL = #{enterpriseEmail,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      LINKMAN = #{linkman,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      LOGO_FILE_NAME = #{logoFileName,jdbcType=VARCHAR},
      LOGO_FILE_PATH = #{logoFilePath,jdbcType=VARCHAR},
      PROPOSER_ID = #{proposerId,jdbcType=VARCHAR},
      PROPOSER_NAME = #{proposerName,jdbcType=VARCHAR},
      USING_STATE = #{usingState,jdbcType=INTEGER},
      APPROVE_STATE = #{approveState,jdbcType=INTEGER},
      IS_DELETE = #{isDelete,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      CITY = #{city,jdbcType=VARCHAR},
      CN_CITY = #{cnCity,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      COUNTRY = #{country,jdbcType=VARCHAR},
      TIME_ZONE = #{timeZone,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=INTEGER},
      IS_INITAL_DATA = #{isInitalData,jdbcType=INTEGER},
      FILE_ID = #{fileId,jdbcType=CHAR},
      CORPORATE_DISCOUNT = #{corporateDiscount,jdbcType=INTEGER},
      SETTLEMENT_CYCLE = #{settlementCycle,jdbcType=VARCHAR},
      STATEMENT_Date = #{statementDate,jdbcType=TIMESTAMP}
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </update>
</mapper>