<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.cy.user.dao.mapper.interfaces.TLspMapper" >
  <resultMap id="BaseResultMap" type="com.ai.yc.user.dao.mapper.bo.TLsp" >
    <id column="LSP_ID" property="lspId" jdbcType="VARCHAR" />
    <result column="LSP_NAME" property="lspName" jdbcType="VARCHAR" />
    <result column="CONTACT" property="contact" jdbcType="VARCHAR" />
    <result column="PHONE_NUM" property="phoneNum" jdbcType="VARCHAR" />
    <result column="COMPANY_ADDRESS" property="companyAddress" jdbcType="VARCHAR" />
    <result column="COMPANY_INTRODUCTION" property="companyIntroduction" jdbcType="VARCHAR" />
    <result column="ENTERPRISE_LOG_PATH" property="enterpriseLogPath" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    LSP_ID, LSP_NAME, CONTACT, PHONE_NUM, COMPANY_ADDRESS, COMPANY_INTRODUCTION, ENTERPRISE_LOG_PATH, 
    EMAIL, USER_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.yc.user.dao.mapper.bo.TLspCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_lsp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_lsp
    where LSP_ID = #{lspId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_lsp
    where LSP_ID = #{lspId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.yc.user.dao.mapper.bo.TLspCriteria" >
    delete from t_lsp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.yc.user.dao.mapper.bo.TLsp" >
    insert into t_lsp (LSP_ID, LSP_NAME, CONTACT, 
      PHONE_NUM, COMPANY_ADDRESS, COMPANY_INTRODUCTION, 
      ENTERPRISE_LOG_PATH, EMAIL, USER_ID
      )
    values (#{lspId,jdbcType=VARCHAR}, #{lspName,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, 
      #{phoneNum,jdbcType=VARCHAR}, #{companyAddress,jdbcType=VARCHAR}, #{companyIntroduction,jdbcType=VARCHAR}, 
      #{enterpriseLogPath,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.yc.user.dao.mapper.bo.TLsp" >
    insert into t_lsp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lspId != null" >
        LSP_ID,
      </if>
      <if test="lspName != null" >
        LSP_NAME,
      </if>
      <if test="contact != null" >
        CONTACT,
      </if>
      <if test="phoneNum != null" >
        PHONE_NUM,
      </if>
      <if test="companyAddress != null" >
        COMPANY_ADDRESS,
      </if>
      <if test="companyIntroduction != null" >
        COMPANY_INTRODUCTION,
      </if>
      <if test="enterpriseLogPath != null" >
        ENTERPRISE_LOG_PATH,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lspId != null" >
        #{lspId,jdbcType=VARCHAR},
      </if>
      <if test="lspName != null" >
        #{lspName,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null" >
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyIntroduction != null" >
        #{companyIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseLogPath != null" >
        #{enterpriseLogPath,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.yc.user.dao.mapper.bo.TLspCriteria" resultType="java.lang.Integer" >
    select count(*) from t_lsp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_lsp
    <set >
      <if test="record.lspId != null" >
        LSP_ID = #{record.lspId,jdbcType=VARCHAR},
      </if>
      <if test="record.lspName != null" >
        LSP_NAME = #{record.lspName,jdbcType=VARCHAR},
      </if>
      <if test="record.contact != null" >
        CONTACT = #{record.contact,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNum != null" >
        PHONE_NUM = #{record.phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="record.companyAddress != null" >
        COMPANY_ADDRESS = #{record.companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.companyIntroduction != null" >
        COMPANY_INTRODUCTION = #{record.companyIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.enterpriseLogPath != null" >
        ENTERPRISE_LOG_PATH = #{record.enterpriseLogPath,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_lsp
    set LSP_ID = #{record.lspId,jdbcType=VARCHAR},
      LSP_NAME = #{record.lspName,jdbcType=VARCHAR},
      CONTACT = #{record.contact,jdbcType=VARCHAR},
      PHONE_NUM = #{record.phoneNum,jdbcType=VARCHAR},
      COMPANY_ADDRESS = #{record.companyAddress,jdbcType=VARCHAR},
      COMPANY_INTRODUCTION = #{record.companyIntroduction,jdbcType=VARCHAR},
      ENTERPRISE_LOG_PATH = #{record.enterpriseLogPath,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.yc.user.dao.mapper.bo.TLsp" >
    update t_lsp
    <set >
      <if test="lspName != null" >
        LSP_NAME = #{lspName,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        CONTACT = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null" >
        PHONE_NUM = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        COMPANY_ADDRESS = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyIntroduction != null" >
        COMPANY_INTRODUCTION = #{companyIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseLogPath != null" >
        ENTERPRISE_LOG_PATH = #{enterpriseLogPath,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where LSP_ID = #{lspId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.yc.user.dao.mapper.bo.TLsp" >
    update t_lsp
    set LSP_NAME = #{lspName,jdbcType=VARCHAR},
      CONTACT = #{contact,jdbcType=VARCHAR},
      PHONE_NUM = #{phoneNum,jdbcType=VARCHAR},
      COMPANY_ADDRESS = #{companyAddress,jdbcType=VARCHAR},
      COMPANY_INTRODUCTION = #{companyIntroduction,jdbcType=VARCHAR},
      ENTERPRISE_LOG_PATH = #{enterpriseLogPath,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR}
    where LSP_ID = #{lspId,jdbcType=VARCHAR}
  </update>
</mapper>