<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.cy.user.dao.mapper.interfaces.TTranslatorMapper" >
  <resultMap id="BaseResultMap" type="com.ai.yc.user.dao.mapper.bo.TTranslator" >
    <result column="TRANSLATOR" property="translator" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="LASTNAME" property="lastname" jdbcType="VARCHAR" />
    <result column="FIRSTNAME" property="firstname" jdbcType="VARCHAR" />
    <result column="LOGO" property="logo" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="INTEGER" />
    <result column="BIRTHDAY" property="birthday" jdbcType="VARCHAR" />
    <result column="NICKNAME" property="nickname" jdbcType="VARCHAR" />
    <result column="WORKING_LIFE" property="workingLife" jdbcType="INTEGER" />
    <result column="MOTHER_TONGUE" property="motherTongue" jdbcType="VARCHAR" />
    <result column="FIX_PHONE" property="fixPhone" jdbcType="VARCHAR" />
    <result column="MOBILE_PHONE" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="QQ" property="qq" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="CN_CITY" property="cnCity" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="COUNTRY" property="country" jdbcType="VARCHAR" />
    <result column="TIME_ZONE" property="timeZone" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="INTEGER" />
    <result column="IS_PUBLIC_INFO" property="isPublicInfo" jdbcType="INTEGER" />
    <result column="INTERPRET_PRICE" property="interpretPrice" jdbcType="DECIMAL" />
    <result column="WRITTEN_TRANSLATION_PRICE" property="writtenTranslationPrice" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="LAST_MODIFY_TIME" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="INTRODUCTION" property="introduction" jdbcType="VARCHAR" />
    <result column="LABEL_NAME" property="labelName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TRANSLATOR, USER_ID, USERNAME, EMAIL, LASTNAME, FIRSTNAME, LOGO, SEX, BIRTHDAY, NICKNAME, 
    WORKING_LIFE, MOTHER_TONGUE, FIX_PHONE, MOBILE_PHONE, QQ, ADDRESS, CITY, CN_CITY, 
    PROVINCE, COUNTRY, TIME_ZONE, STATE, IS_PUBLIC_INFO, INTERPRET_PRICE, WRITTEN_TRANSLATION_PRICE, 
    CREATE_TIME, LAST_MODIFY_TIME, INTRODUCTION, LABEL_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.yc.user.dao.mapper.bo.TTranslatorCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_translator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ai.yc.user.dao.mapper.bo.TTranslatorCriteria" >
    delete from t_translator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.yc.user.dao.mapper.bo.TTranslator" >
    insert into t_translator (TRANSLATOR, USER_ID, USERNAME, 
      EMAIL, LASTNAME, FIRSTNAME, 
      LOGO, SEX, BIRTHDAY, 
      NICKNAME, WORKING_LIFE, MOTHER_TONGUE, 
      FIX_PHONE, MOBILE_PHONE, QQ, 
      ADDRESS, CITY, CN_CITY, 
      PROVINCE, COUNTRY, TIME_ZONE, 
      STATE, IS_PUBLIC_INFO, INTERPRET_PRICE, 
      WRITTEN_TRANSLATION_PRICE, CREATE_TIME, 
      LAST_MODIFY_TIME, INTRODUCTION, LABEL_NAME
      )
    values (#{translator,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{lastname,jdbcType=VARCHAR}, #{firstname,jdbcType=VARCHAR}, 
      #{logo,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{birthday,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{workingLife,jdbcType=INTEGER}, #{motherTongue,jdbcType=VARCHAR}, 
      #{fixPhone,jdbcType=VARCHAR}, #{mobilePhone,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{cnCity,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{timeZone,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{isPublicInfo,jdbcType=INTEGER}, #{interpretPrice,jdbcType=DECIMAL}, 
      #{writtenTranslationPrice,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastModifyTime,jdbcType=TIMESTAMP}, #{introduction,jdbcType=VARCHAR}, #{labelName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.yc.user.dao.mapper.bo.TTranslator" >
    insert into t_translator
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="translator != null" >
        TRANSLATOR,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="lastname != null" >
        LASTNAME,
      </if>
      <if test="firstname != null" >
        FIRSTNAME,
      </if>
      <if test="logo != null" >
        LOGO,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="birthday != null" >
        BIRTHDAY,
      </if>
      <if test="nickname != null" >
        NICKNAME,
      </if>
      <if test="workingLife != null" >
        WORKING_LIFE,
      </if>
      <if test="motherTongue != null" >
        MOTHER_TONGUE,
      </if>
      <if test="fixPhone != null" >
        FIX_PHONE,
      </if>
      <if test="mobilePhone != null" >
        MOBILE_PHONE,
      </if>
      <if test="qq != null" >
        QQ,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="cnCity != null" >
        CN_CITY,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
      <if test="country != null" >
        COUNTRY,
      </if>
      <if test="timeZone != null" >
        TIME_ZONE,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="isPublicInfo != null" >
        IS_PUBLIC_INFO,
      </if>
      <if test="interpretPrice != null" >
        INTERPRET_PRICE,
      </if>
      <if test="writtenTranslationPrice != null" >
        WRITTEN_TRANSLATION_PRICE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="lastModifyTime != null" >
        LAST_MODIFY_TIME,
      </if>
      <if test="introduction != null" >
        INTRODUCTION,
      </if>
      <if test="labelName != null" >
        LABEL_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="translator != null" >
        #{translator,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null" >
        #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="firstname != null" >
        #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="workingLife != null" >
        #{workingLife,jdbcType=INTEGER},
      </if>
      <if test="motherTongue != null" >
        #{motherTongue,jdbcType=VARCHAR},
      </if>
      <if test="fixPhone != null" >
        #{fixPhone,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="cnCity != null" >
        #{cnCity,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="timeZone != null" >
        #{timeZone,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="isPublicInfo != null" >
        #{isPublicInfo,jdbcType=INTEGER},
      </if>
      <if test="interpretPrice != null" >
        #{interpretPrice,jdbcType=DECIMAL},
      </if>
      <if test="writtenTranslationPrice != null" >
        #{writtenTranslationPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="labelName != null" >
        #{labelName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.yc.user.dao.mapper.bo.TTranslatorCriteria" resultType="java.lang.Integer" >
    select count(*) from t_translator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_translator
    <set >
      <if test="record.translator != null" >
        TRANSLATOR = #{record.translator,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        USERNAME = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.lastname != null" >
        LASTNAME = #{record.lastname,jdbcType=VARCHAR},
      </if>
      <if test="record.firstname != null" >
        FIRSTNAME = #{record.firstname,jdbcType=VARCHAR},
      </if>
      <if test="record.logo != null" >
        LOGO = #{record.logo,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        SEX = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.birthday != null" >
        BIRTHDAY = #{record.birthday,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null" >
        NICKNAME = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.workingLife != null" >
        WORKING_LIFE = #{record.workingLife,jdbcType=INTEGER},
      </if>
      <if test="record.motherTongue != null" >
        MOTHER_TONGUE = #{record.motherTongue,jdbcType=VARCHAR},
      </if>
      <if test="record.fixPhone != null" >
        FIX_PHONE = #{record.fixPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilePhone != null" >
        MOBILE_PHONE = #{record.mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null" >
        QQ = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        CITY = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.cnCity != null" >
        CN_CITY = #{record.cnCity,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        PROVINCE = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null" >
        COUNTRY = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.timeZone != null" >
        TIME_ZONE = #{record.timeZone,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.isPublicInfo != null" >
        IS_PUBLIC_INFO = #{record.isPublicInfo,jdbcType=INTEGER},
      </if>
      <if test="record.interpretPrice != null" >
        INTERPRET_PRICE = #{record.interpretPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.writtenTranslationPrice != null" >
        WRITTEN_TRANSLATION_PRICE = #{record.writtenTranslationPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastModifyTime != null" >
        LAST_MODIFY_TIME = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.introduction != null" >
        INTRODUCTION = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.labelName != null" >
        LABEL_NAME = #{record.labelName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_translator
    set TRANSLATOR = #{record.translator,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      USERNAME = #{record.username,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      LASTNAME = #{record.lastname,jdbcType=VARCHAR},
      FIRSTNAME = #{record.firstname,jdbcType=VARCHAR},
      LOGO = #{record.logo,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=INTEGER},
      BIRTHDAY = #{record.birthday,jdbcType=VARCHAR},
      NICKNAME = #{record.nickname,jdbcType=VARCHAR},
      WORKING_LIFE = #{record.workingLife,jdbcType=INTEGER},
      MOTHER_TONGUE = #{record.motherTongue,jdbcType=VARCHAR},
      FIX_PHONE = #{record.fixPhone,jdbcType=VARCHAR},
      MOBILE_PHONE = #{record.mobilePhone,jdbcType=VARCHAR},
      QQ = #{record.qq,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      CITY = #{record.city,jdbcType=VARCHAR},
      CN_CITY = #{record.cnCity,jdbcType=VARCHAR},
      PROVINCE = #{record.province,jdbcType=VARCHAR},
      COUNTRY = #{record.country,jdbcType=VARCHAR},
      TIME_ZONE = #{record.timeZone,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=INTEGER},
      IS_PUBLIC_INFO = #{record.isPublicInfo,jdbcType=INTEGER},
      INTERPRET_PRICE = #{record.interpretPrice,jdbcType=DECIMAL},
      WRITTEN_TRANSLATION_PRICE = #{record.writtenTranslationPrice,jdbcType=DECIMAL},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      LAST_MODIFY_TIME = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      INTRODUCTION = #{record.introduction,jdbcType=VARCHAR},
      LABEL_NAME = #{record.labelName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>