<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.yc.user.dao.mapper.interfaces.UsrCompanyRelationMapper" >
  <resultMap id="BaseResultMap" type="com.ai.yc.user.dao.mapper.bo.UsrCompanyRelation" >
    <id column="PK_USER" property="pkUser" jdbcType="BIGINT" />
    <id column="PK_LSP" property="pkLsp" jdbcType="BIGINT" />
    <result column="IF_MANAGEMENT" property="ifManagement" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PK_USER, PK_LSP, IF_MANAGEMENT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompanyRelationCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from usr_company_relation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompanyRelationKey" >
    select 
    <include refid="Base_Column_List" />
    from usr_company_relation
    where PK_USER = #{pkUser,jdbcType=BIGINT}
      and PK_LSP = #{pkLsp,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompanyRelationKey" >
    delete from usr_company_relation
    where PK_USER = #{pkUser,jdbcType=BIGINT}
      and PK_LSP = #{pkLsp,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompanyRelationCriteria" >
    delete from usr_company_relation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompanyRelation" >
    insert into usr_company_relation (PK_USER, PK_LSP, IF_MANAGEMENT
      )
    values (#{pkUser,jdbcType=BIGINT}, #{pkLsp,jdbcType=BIGINT}, #{ifManagement,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompanyRelation" >
    insert into usr_company_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkUser != null" >
        PK_USER,
      </if>
      <if test="pkLsp != null" >
        PK_LSP,
      </if>
      <if test="ifManagement != null" >
        IF_MANAGEMENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkUser != null" >
        #{pkUser,jdbcType=BIGINT},
      </if>
      <if test="pkLsp != null" >
        #{pkLsp,jdbcType=BIGINT},
      </if>
      <if test="ifManagement != null" >
        #{ifManagement,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompanyRelationCriteria" resultType="java.lang.Integer" >
    select count(*) from usr_company_relation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update usr_company_relation
    <set >
      <if test="record.pkUser != null" >
        PK_USER = #{record.pkUser,jdbcType=BIGINT},
      </if>
      <if test="record.pkLsp != null" >
        PK_LSP = #{record.pkLsp,jdbcType=BIGINT},
      </if>
      <if test="record.ifManagement != null" >
        IF_MANAGEMENT = #{record.ifManagement,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update usr_company_relation
    set PK_USER = #{record.pkUser,jdbcType=BIGINT},
      PK_LSP = #{record.pkLsp,jdbcType=BIGINT},
      IF_MANAGEMENT = #{record.ifManagement,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompanyRelation" >
    update usr_company_relation
    <set >
      <if test="ifManagement != null" >
        IF_MANAGEMENT = #{ifManagement,jdbcType=INTEGER},
      </if>
    </set>
    where PK_USER = #{pkUser,jdbcType=BIGINT}
      and PK_LSP = #{pkLsp,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompanyRelation" >
    update usr_company_relation
    set IF_MANAGEMENT = #{ifManagement,jdbcType=INTEGER}
    where PK_USER = #{pkUser,jdbcType=BIGINT}
      and PK_LSP = #{pkLsp,jdbcType=BIGINT}
  </update>
</mapper>