<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.yc.user.dao.mapper.interfaces.UsrCompanyMapper" >
  <resultMap id="BaseResultMap" type="com.ai.yc.user.dao.mapper.bo.UsrCompany" >
    <id column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="license_attacid" property="licenseAttacid" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="company_email" property="companyEmail" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="mobilephone" property="mobilephone" jdbcType="VARCHAR" />
    <result column="entp_attacid" property="entpAttacid" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="proposer_id" property="proposerId" jdbcType="VARCHAR" />
    <result column="proposer_name" property="proposerName" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="cn_city" property="cnCity" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="time_zone" property="timeZone" jdbcType="VARCHAR" />
    <result column="auditor" property="auditor" jdbcType="VARCHAR" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="is_inital_data" property="isInitalData" jdbcType="INTEGER" />
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="admin_user_id" property="adminUserId" jdbcType="VARCHAR" />
    <result column="members_count" property="membersCount" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    company_id, company_name, license_attacid, address, company_email, telephone, linkman, 
    mobilephone, entp_attacid, content, proposer_id, proposer_name, state, create_time, 
    modify_time, cn_city, province, country, time_zone, auditor, check_time, remark, 
    is_inital_data, account_id, admin_user_id, members_count
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompanyCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from usr_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from usr_company
    where company_id = #{companyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from usr_company
    where company_id = #{companyId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompanyCriteria" >
    delete from usr_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompany" >
    insert into usr_company (company_id, company_name, license_attacid, 
      address, company_email, telephone, 
      linkman, mobilephone, entp_attacid, 
      content, proposer_id, proposer_name, 
      state, create_time, modify_time, 
      cn_city, province, country, 
      time_zone, auditor, check_time, 
      remark, is_inital_data, account_id, 
      admin_user_id, members_count)
    values (#{companyId,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{licenseAttacid,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{companyEmail,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{linkman,jdbcType=VARCHAR}, #{mobilephone,jdbcType=VARCHAR}, #{entpAttacid,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{proposerId,jdbcType=VARCHAR}, #{proposerName,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{cnCity,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{timeZone,jdbcType=VARCHAR}, #{auditor,jdbcType=VARCHAR}, #{checkTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{isInitalData,jdbcType=INTEGER}, #{accountId,jdbcType=BIGINT}, 
      #{adminUserId,jdbcType=VARCHAR}, #{membersCount,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompany" >
    insert into usr_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="licenseAttacid != null" >
        license_attacid,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="companyEmail != null" >
        company_email,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="linkman != null" >
        linkman,
      </if>
      <if test="mobilephone != null" >
        mobilephone,
      </if>
      <if test="entpAttacid != null" >
        entp_attacid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="proposerId != null" >
        proposer_id,
      </if>
      <if test="proposerName != null" >
        proposer_name,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="cnCity != null" >
        cn_city,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="timeZone != null" >
        time_zone,
      </if>
      <if test="auditor != null" >
        auditor,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="isInitalData != null" >
        is_inital_data,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="adminUserId != null" >
        admin_user_id,
      </if>
      <if test="membersCount != null" >
        members_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="licenseAttacid != null" >
        #{licenseAttacid,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="companyEmail != null" >
        #{companyEmail,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="entpAttacid != null" >
        #{entpAttacid,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="proposerId != null" >
        #{proposerId,jdbcType=VARCHAR},
      </if>
      <if test="proposerName != null" >
        #{proposerName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cnCity != null" >
        #{cnCity,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="timeZone != null" >
        #{timeZone,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isInitalData != null" >
        #{isInitalData,jdbcType=INTEGER},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="adminUserId != null" >
        #{adminUserId,jdbcType=VARCHAR},
      </if>
      <if test="membersCount != null" >
        #{membersCount,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompanyCriteria" resultType="java.lang.Integer" >
    select count(*) from usr_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update usr_company
    <set >
      <if test="record.companyId != null" >
        company_id = #{record.companyId,jdbcType=VARCHAR},
      </if>
      <if test="record.companyName != null" >
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.licenseAttacid != null" >
        license_attacid = #{record.licenseAttacid,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.companyEmail != null" >
        company_email = #{record.companyEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null" >
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.linkman != null" >
        linkman = #{record.linkman,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilephone != null" >
        mobilephone = #{record.mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="record.entpAttacid != null" >
        entp_attacid = #{record.entpAttacid,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.proposerId != null" >
        proposer_id = #{record.proposerId,jdbcType=VARCHAR},
      </if>
      <if test="record.proposerName != null" >
        proposer_name = #{record.proposerName,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cnCity != null" >
        cn_city = #{record.cnCity,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null" >
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.timeZone != null" >
        time_zone = #{record.timeZone,jdbcType=VARCHAR},
      </if>
      <if test="record.auditor != null" >
        auditor = #{record.auditor,jdbcType=VARCHAR},
      </if>
      <if test="record.checkTime != null" >
        check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isInitalData != null" >
        is_inital_data = #{record.isInitalData,jdbcType=INTEGER},
      </if>
      <if test="record.accountId != null" >
        account_id = #{record.accountId,jdbcType=BIGINT},
      </if>
      <if test="record.adminUserId != null" >
        admin_user_id = #{record.adminUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.membersCount != null" >
        members_count = #{record.membersCount,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update usr_company
    set company_id = #{record.companyId,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      license_attacid = #{record.licenseAttacid,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      company_email = #{record.companyEmail,jdbcType=VARCHAR},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      linkman = #{record.linkman,jdbcType=VARCHAR},
      mobilephone = #{record.mobilephone,jdbcType=VARCHAR},
      entp_attacid = #{record.entpAttacid,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      proposer_id = #{record.proposerId,jdbcType=VARCHAR},
      proposer_name = #{record.proposerName,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      cn_city = #{record.cnCity,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=VARCHAR},
      time_zone = #{record.timeZone,jdbcType=VARCHAR},
      auditor = #{record.auditor,jdbcType=VARCHAR},
      check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      is_inital_data = #{record.isInitalData,jdbcType=INTEGER},
      account_id = #{record.accountId,jdbcType=BIGINT},
      admin_user_id = #{record.adminUserId,jdbcType=VARCHAR},
      members_count = #{record.membersCount,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompany" >
    update usr_company
    <set >
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="licenseAttacid != null" >
        license_attacid = #{licenseAttacid,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="companyEmail != null" >
        company_email = #{companyEmail,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        mobilephone = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="entpAttacid != null" >
        entp_attacid = #{entpAttacid,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="proposerId != null" >
        proposer_id = #{proposerId,jdbcType=VARCHAR},
      </if>
      <if test="proposerName != null" >
        proposer_name = #{proposerName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cnCity != null" >
        cn_city = #{cnCity,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="timeZone != null" >
        time_zone = #{timeZone,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isInitalData != null" >
        is_inital_data = #{isInitalData,jdbcType=INTEGER},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=BIGINT},
      </if>
      <if test="adminUserId != null" >
        admin_user_id = #{adminUserId,jdbcType=VARCHAR},
      </if>
      <if test="membersCount != null" >
        members_count = #{membersCount,jdbcType=BIGINT},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompany" >
    update usr_company
    set company_name = #{companyName,jdbcType=VARCHAR},
      license_attacid = #{licenseAttacid,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      company_email = #{companyEmail,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      mobilephone = #{mobilephone,jdbcType=VARCHAR},
      entp_attacid = #{entpAttacid,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      proposer_id = #{proposerId,jdbcType=VARCHAR},
      proposer_name = #{proposerName,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      cn_city = #{cnCity,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      time_zone = #{timeZone,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      is_inital_data = #{isInitalData,jdbcType=INTEGER},
      account_id = #{accountId,jdbcType=BIGINT},
      admin_user_id = #{adminUserId,jdbcType=VARCHAR},
      members_count = #{membersCount,jdbcType=BIGINT}
    where company_id = #{companyId,jdbcType=VARCHAR}
  </update>
</mapper>