<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.yc.user.dao.mapper.interfaces.UsrCollectionTranslationMapper" >
  <resultMap id="BaseResultMap" type="com.ai.yc.user.dao.mapper.bo.UsrCollectionTranslation" >
    <id column="collection_id" property="collectionId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="original" property="original" jdbcType="VARCHAR" />
    <result column="translation" property="translation" jdbcType="VARCHAR" />
    <result column="collect_time" property="collectTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    collection_id, user_id, original, translation, collect_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCollectionTranslationCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from usr_collection_translation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from usr_collection_translation
    where collection_id = #{collectionId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from usr_collection_translation
    where collection_id = #{collectionId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCollectionTranslationCriteria" >
    delete from usr_collection_translation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCollectionTranslation" >
    insert into usr_collection_translation (collection_id, user_id, original, 
      translation, collect_time)
    values (#{collectionId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{original,jdbcType=VARCHAR}, 
      #{translation,jdbcType=VARCHAR}, #{collectTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCollectionTranslation" >
    insert into usr_collection_translation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="collectionId != null" >
        collection_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="original != null" >
        original,
      </if>
      <if test="translation != null" >
        translation,
      </if>
      <if test="collectTime != null" >
        collect_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="collectionId != null" >
        #{collectionId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="original != null" >
        #{original,jdbcType=VARCHAR},
      </if>
      <if test="translation != null" >
        #{translation,jdbcType=VARCHAR},
      </if>
      <if test="collectTime != null" >
        #{collectTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCollectionTranslationCriteria" resultType="java.lang.Integer" >
    select count(*) from usr_collection_translation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update usr_collection_translation
    <set >
      <if test="record.collectionId != null" >
        collection_id = #{record.collectionId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.original != null" >
        original = #{record.original,jdbcType=VARCHAR},
      </if>
      <if test="record.translation != null" >
        translation = #{record.translation,jdbcType=VARCHAR},
      </if>
      <if test="record.collectTime != null" >
        collect_time = #{record.collectTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update usr_collection_translation
    set collection_id = #{record.collectionId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      original = #{record.original,jdbcType=VARCHAR},
      translation = #{record.translation,jdbcType=VARCHAR},
      collect_time = #{record.collectTime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCollectionTranslation" >
    update usr_collection_translation
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="original != null" >
        original = #{original,jdbcType=VARCHAR},
      </if>
      <if test="translation != null" >
        translation = #{translation,jdbcType=VARCHAR},
      </if>
      <if test="collectTime != null" >
        collect_time = #{collectTime,jdbcType=DATE},
      </if>
    </set>
    where collection_id = #{collectionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCollectionTranslation" >
    update usr_collection_translation
    set user_id = #{userId,jdbcType=VARCHAR},
      original = #{original,jdbcType=VARCHAR},
      translation = #{translation,jdbcType=VARCHAR},
      collect_time = #{collectTime,jdbcType=DATE}
    where collection_id = #{collectionId,jdbcType=VARCHAR}
  </update>
</mapper>