<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.yc.user.dao.mapper.interfaces.UsrCompanyMapper" >
  <resultMap id="BaseResultMap" type="com.ai.yc.user.dao.mapper.bo.UsrCompany" >
    <id column="CUST_ID" property="custId" jdbcType="VARCHAR" />
    <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="COMPANY_EMAIL" property="companyEmail" jdbcType="VARCHAR" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="LINKMAN" property="linkman" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="PROPOSER_ID" property="proposerId" jdbcType="VARCHAR" />
    <result column="PROPOSER_NAME" property="proposerName" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="CN_CITY" property="cnCity" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="COUNTRY" property="country" jdbcType="VARCHAR" />
    <result column="TIME_ZONE" property="timeZone" jdbcType="VARCHAR" />
    <result column="auditor" property="auditor" jdbcType="VARCHAR" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="IS_INITAL_DATA" property="isInitalData" jdbcType="INTEGER" />
    <result column="CORPORATE_DISCOUNT" property="corporateDiscount" jdbcType="DECIMAL" />
    <result column="SETTLEMENT_CYCLE" property="settlementCycle" jdbcType="VARCHAR" />
    <result column="STATEMENT_Date" property="statementDate" jdbcType="TIMESTAMP" />
    <result column="SETTLEMENT_METHOD" property="settlementMethod" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CUST_ID, COMPANY_NAME, ADDRESS, COMPANY_EMAIL, TELEPHONE, LINKMAN, MOBILE, CONTENT, 
    PROPOSER_ID, PROPOSER_NAME, STATE, CREATE_TIME, MODIFY_TIME, CN_CITY, PROVINCE, COUNTRY, 
    TIME_ZONE, auditor, check_time, remark, IS_INITAL_DATA, CORPORATE_DISCOUNT, SETTLEMENT_CYCLE, 
    STATEMENT_Date, SETTLEMENT_METHOD
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompanyCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from usr_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from usr_company
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from usr_company
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompanyCriteria" >
    delete from usr_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompany" >
    insert into usr_company (CUST_ID, COMPANY_NAME, ADDRESS, 
      COMPANY_EMAIL, TELEPHONE, LINKMAN, 
      MOBILE, CONTENT, PROPOSER_ID, 
      PROPOSER_NAME, STATE, CREATE_TIME, 
      MODIFY_TIME, CN_CITY, PROVINCE, 
      COUNTRY, TIME_ZONE, auditor, 
      check_time, remark, IS_INITAL_DATA, 
      CORPORATE_DISCOUNT, SETTLEMENT_CYCLE, STATEMENT_Date, 
      SETTLEMENT_METHOD)
    values (#{custId,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{companyEmail,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{proposerId,jdbcType=VARCHAR}, 
      #{proposerName,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{cnCity,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{timeZone,jdbcType=VARCHAR}, #{auditor,jdbcType=VARCHAR}, 
      #{checkTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{isInitalData,jdbcType=INTEGER}, 
      #{corporateDiscount,jdbcType=DECIMAL}, #{settlementCycle,jdbcType=VARCHAR}, #{statementDate,jdbcType=TIMESTAMP}, 
      #{settlementMethod,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompany" >
    insert into usr_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="companyName != null" >
        COMPANY_NAME,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="companyEmail != null" >
        COMPANY_EMAIL,
      </if>
      <if test="telephone != null" >
        TELEPHONE,
      </if>
      <if test="linkman != null" >
        LINKMAN,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="proposerId != null" >
        PROPOSER_ID,
      </if>
      <if test="proposerName != null" >
        PROPOSER_NAME,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="cnCity != null" >
        CN_CITY,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
      <if test="country != null" >
        COUNTRY,
      </if>
      <if test="timeZone != null" >
        TIME_ZONE,
      </if>
      <if test="auditor != null" >
        auditor,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="isInitalData != null" >
        IS_INITAL_DATA,
      </if>
      <if test="corporateDiscount != null" >
        CORPORATE_DISCOUNT,
      </if>
      <if test="settlementCycle != null" >
        SETTLEMENT_CYCLE,
      </if>
      <if test="statementDate != null" >
        STATEMENT_Date,
      </if>
      <if test="settlementMethod != null" >
        SETTLEMENT_METHOD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="companyEmail != null" >
        #{companyEmail,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="proposerId != null" >
        #{proposerId,jdbcType=VARCHAR},
      </if>
      <if test="proposerName != null" >
        #{proposerName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cnCity != null" >
        #{cnCity,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="timeZone != null" >
        #{timeZone,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isInitalData != null" >
        #{isInitalData,jdbcType=INTEGER},
      </if>
      <if test="corporateDiscount != null" >
        #{corporateDiscount,jdbcType=DECIMAL},
      </if>
      <if test="settlementCycle != null" >
        #{settlementCycle,jdbcType=VARCHAR},
      </if>
      <if test="statementDate != null" >
        #{statementDate,jdbcType=TIMESTAMP},
      </if>
      <if test="settlementMethod != null" >
        #{settlementMethod,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompanyCriteria" resultType="java.lang.Integer" >
    select count(*) from usr_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update usr_company
    <set >
      <if test="record.custId != null" >
        CUST_ID = #{record.custId,jdbcType=VARCHAR},
      </if>
      <if test="record.companyName != null" >
        COMPANY_NAME = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.companyEmail != null" >
        COMPANY_EMAIL = #{record.companyEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null" >
        TELEPHONE = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.linkman != null" >
        LINKMAN = #{record.linkman,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        MOBILE = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.proposerId != null" >
        PROPOSER_ID = #{record.proposerId,jdbcType=VARCHAR},
      </if>
      <if test="record.proposerName != null" >
        PROPOSER_NAME = #{record.proposerName,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cnCity != null" >
        CN_CITY = #{record.cnCity,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        PROVINCE = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null" >
        COUNTRY = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.timeZone != null" >
        TIME_ZONE = #{record.timeZone,jdbcType=VARCHAR},
      </if>
      <if test="record.auditor != null" >
        auditor = #{record.auditor,jdbcType=VARCHAR},
      </if>
      <if test="record.checkTime != null" >
        check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isInitalData != null" >
        IS_INITAL_DATA = #{record.isInitalData,jdbcType=INTEGER},
      </if>
      <if test="record.corporateDiscount != null" >
        CORPORATE_DISCOUNT = #{record.corporateDiscount,jdbcType=DECIMAL},
      </if>
      <if test="record.settlementCycle != null" >
        SETTLEMENT_CYCLE = #{record.settlementCycle,jdbcType=VARCHAR},
      </if>
      <if test="record.statementDate != null" >
        STATEMENT_Date = #{record.statementDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.settlementMethod != null" >
        SETTLEMENT_METHOD = #{record.settlementMethod,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update usr_company
    set CUST_ID = #{record.custId,jdbcType=VARCHAR},
      COMPANY_NAME = #{record.companyName,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      COMPANY_EMAIL = #{record.companyEmail,jdbcType=VARCHAR},
      TELEPHONE = #{record.telephone,jdbcType=VARCHAR},
      LINKMAN = #{record.linkman,jdbcType=VARCHAR},
      MOBILE = #{record.mobile,jdbcType=VARCHAR},
      CONTENT = #{record.content,jdbcType=VARCHAR},
      PROPOSER_ID = #{record.proposerId,jdbcType=VARCHAR},
      PROPOSER_NAME = #{record.proposerName,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      CN_CITY = #{record.cnCity,jdbcType=VARCHAR},
      PROVINCE = #{record.province,jdbcType=VARCHAR},
      COUNTRY = #{record.country,jdbcType=VARCHAR},
      TIME_ZONE = #{record.timeZone,jdbcType=VARCHAR},
      auditor = #{record.auditor,jdbcType=VARCHAR},
      check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      IS_INITAL_DATA = #{record.isInitalData,jdbcType=INTEGER},
      CORPORATE_DISCOUNT = #{record.corporateDiscount,jdbcType=DECIMAL},
      SETTLEMENT_CYCLE = #{record.settlementCycle,jdbcType=VARCHAR},
      STATEMENT_Date = #{record.statementDate,jdbcType=TIMESTAMP},
      SETTLEMENT_METHOD = #{record.settlementMethod,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompany" >
    update usr_company
    <set >
      <if test="companyName != null" >
        COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="companyEmail != null" >
        COMPANY_EMAIL = #{companyEmail,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        LINKMAN = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="proposerId != null" >
        PROPOSER_ID = #{proposerId,jdbcType=VARCHAR},
      </if>
      <if test="proposerName != null" >
        PROPOSER_NAME = #{proposerName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cnCity != null" >
        CN_CITY = #{cnCity,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        COUNTRY = #{country,jdbcType=VARCHAR},
      </if>
      <if test="timeZone != null" >
        TIME_ZONE = #{timeZone,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isInitalData != null" >
        IS_INITAL_DATA = #{isInitalData,jdbcType=INTEGER},
      </if>
      <if test="corporateDiscount != null" >
        CORPORATE_DISCOUNT = #{corporateDiscount,jdbcType=DECIMAL},
      </if>
      <if test="settlementCycle != null" >
        SETTLEMENT_CYCLE = #{settlementCycle,jdbcType=VARCHAR},
      </if>
      <if test="statementDate != null" >
        STATEMENT_Date = #{statementDate,jdbcType=TIMESTAMP},
      </if>
      <if test="settlementMethod != null" >
        SETTLEMENT_METHOD = #{settlementMethod,jdbcType=VARCHAR},
      </if>
    </set>
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.yc.user.dao.mapper.bo.UsrCompany" >
    update usr_company
    set COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      COMPANY_EMAIL = #{companyEmail,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      LINKMAN = #{linkman,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      PROPOSER_ID = #{proposerId,jdbcType=VARCHAR},
      PROPOSER_NAME = #{proposerName,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      CN_CITY = #{cnCity,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      COUNTRY = #{country,jdbcType=VARCHAR},
      TIME_ZONE = #{timeZone,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      IS_INITAL_DATA = #{isInitalData,jdbcType=INTEGER},
      CORPORATE_DISCOUNT = #{corporateDiscount,jdbcType=DECIMAL},
      SETTLEMENT_CYCLE = #{settlementCycle,jdbcType=VARCHAR},
      STATEMENT_Date = #{statementDate,jdbcType=TIMESTAMP},
      SETTLEMENT_METHOD = #{settlementMethod,jdbcType=VARCHAR}
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </update>
</mapper>