<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.yc.user.dao.mapper.interfaces.UsrWorkMapper" >
  <resultMap id="BaseResultMap" type="com.ai.yc.user.dao.mapper.bo.UsrWork" >
    <id column="WORK_ID" property="workId" jdbcType="BIGINT" />
    <result column="TRANSLATOR_ID" property="translatorId" jdbcType="VARCHAR" />
    <result column="COMPANY" property="company" jdbcType="VARCHAR" />
    <result column="POSITION" property="position" jdbcType="VARCHAR" />
    <result column="WORK_START_TIME" property="workStartTime" jdbcType="VARCHAR" />
    <result column="WORK_END_TIME" property="workEndTime" jdbcType="VARCHAR" />
    <result column="WORK_SUMMARIZE" property="workSummarize" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    WORK_ID, TRANSLATOR_ID, COMPANY, POSITION, WORK_START_TIME, WORK_END_TIME, WORK_SUMMARIZE, 
    CREATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.yc.user.dao.mapper.bo.UsrWorkCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from usr_work
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from usr_work
    where WORK_ID = #{workId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from usr_work
    where WORK_ID = #{workId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.yc.user.dao.mapper.bo.UsrWorkCriteria" >
    delete from usr_work
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.yc.user.dao.mapper.bo.UsrWork" >
    insert into usr_work (WORK_ID, TRANSLATOR_ID, COMPANY, 
      POSITION, WORK_START_TIME, WORK_END_TIME, 
      WORK_SUMMARIZE, CREATE_TIME)
    values (#{workId,jdbcType=BIGINT}, #{translatorId,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{workStartTime,jdbcType=VARCHAR}, #{workEndTime,jdbcType=VARCHAR}, 
      #{workSummarize,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.yc.user.dao.mapper.bo.UsrWork" >
    insert into usr_work
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="workId != null" >
        WORK_ID,
      </if>
      <if test="translatorId != null" >
        TRANSLATOR_ID,
      </if>
      <if test="company != null" >
        COMPANY,
      </if>
      <if test="position != null" >
        POSITION,
      </if>
      <if test="workStartTime != null" >
        WORK_START_TIME,
      </if>
      <if test="workEndTime != null" >
        WORK_END_TIME,
      </if>
      <if test="workSummarize != null" >
        WORK_SUMMARIZE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="workId != null" >
        #{workId,jdbcType=BIGINT},
      </if>
      <if test="translatorId != null" >
        #{translatorId,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="workStartTime != null" >
        #{workStartTime,jdbcType=VARCHAR},
      </if>
      <if test="workEndTime != null" >
        #{workEndTime,jdbcType=VARCHAR},
      </if>
      <if test="workSummarize != null" >
        #{workSummarize,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.yc.user.dao.mapper.bo.UsrWorkCriteria" resultType="java.lang.Integer" >
    select count(*) from usr_work
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update usr_work
    <set >
      <if test="record.workId != null" >
        WORK_ID = #{record.workId,jdbcType=BIGINT},
      </if>
      <if test="record.translatorId != null" >
        TRANSLATOR_ID = #{record.translatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null" >
        COMPANY = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.position != null" >
        POSITION = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.workStartTime != null" >
        WORK_START_TIME = #{record.workStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.workEndTime != null" >
        WORK_END_TIME = #{record.workEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.workSummarize != null" >
        WORK_SUMMARIZE = #{record.workSummarize,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update usr_work
    set WORK_ID = #{record.workId,jdbcType=BIGINT},
      TRANSLATOR_ID = #{record.translatorId,jdbcType=VARCHAR},
      COMPANY = #{record.company,jdbcType=VARCHAR},
      POSITION = #{record.position,jdbcType=VARCHAR},
      WORK_START_TIME = #{record.workStartTime,jdbcType=VARCHAR},
      WORK_END_TIME = #{record.workEndTime,jdbcType=VARCHAR},
      WORK_SUMMARIZE = #{record.workSummarize,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.yc.user.dao.mapper.bo.UsrWork" >
    update usr_work
    <set >
      <if test="translatorId != null" >
        TRANSLATOR_ID = #{translatorId,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        COMPANY = #{company,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        POSITION = #{position,jdbcType=VARCHAR},
      </if>
      <if test="workStartTime != null" >
        WORK_START_TIME = #{workStartTime,jdbcType=VARCHAR},
      </if>
      <if test="workEndTime != null" >
        WORK_END_TIME = #{workEndTime,jdbcType=VARCHAR},
      </if>
      <if test="workSummarize != null" >
        WORK_SUMMARIZE = #{workSummarize,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where WORK_ID = #{workId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.yc.user.dao.mapper.bo.UsrWork" >
    update usr_work
    set TRANSLATOR_ID = #{translatorId,jdbcType=VARCHAR},
      COMPANY = #{company,jdbcType=VARCHAR},
      POSITION = #{position,jdbcType=VARCHAR},
      WORK_START_TIME = #{workStartTime,jdbcType=VARCHAR},
      WORK_END_TIME = #{workEndTime,jdbcType=VARCHAR},
      WORK_SUMMARIZE = #{workSummarize,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where WORK_ID = #{workId,jdbcType=BIGINT}
  </update>
</mapper>